---
layout: default
---

<div id="about">
    <div id="profile">
        <img src={{site.data.additional_images[0].img-url}}>
    </div>
    <div id="info">
        <h4>About</h4>
        <p>
            Hi, I’m Eammon Littler. I’m a graduate of Dartmouth College with a Master's in Computer Science. I currently work at Quel Imaging as a software developer, doing research in the world of fluorescence-guided surgery. While I grew up in warm and sunny Southern California, I now reside in White River Junction, Vermont.
        </p>
        <p>
            I’ve always been a maker, creating marble towers as a kid and playing with 3D printers as an adult. As a maker, the open-source community is very important to me. It’s where I’ve learned a lot of the skills I have today. To give back to the community, I’ve worked towards creating clear guides for every project I post. Currently, my site is filled with 3D printing content. However, I have begun exploring ways to create interactive/useful webpage tools. Figma is my favorite website prototyper and GitHub pages help run my sites easily.
        </p>
        <p> 
            My current interests include 3D design, electronics, cooking, and photography. I’m into fermentation and usually keep a jar of sprouting greens nearby. My sprouts seem healthy, but I'm not as confident about my water kefir...
        </p>
    </div>
</div>
