<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{site.url}}/assets/js/jquery.flex-images.min.js"></script>
    <script src="{{site.url}}/assets/js/ui.js"></script>
    <link rel="stylesheet" href="{{site.url}}/assets/css/jquery.flex-images.css">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/mobile-styles.css">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/post.css">
</head>

<body>
    <div class="wrapper">
        {% include header.html %}
            {{ content }}
        {% include footer.html %}
    </div>
</body>